<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mercado Liebre</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
    </style>
    <link rel="stylesheet" href="/CSS/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
</head>
<body>
    <header>
        <img src="/images/logo-mercado-liebre.svg" >
        <form>
            <input type="text" class="search-input" placeholder="Buscar...">
            <button type="submit" class="search-button">Buscar</button>
          </form>
        <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        <nav class="ocultar">
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
                <p></p>
                <li><a href="#">Creá tu cuenta</a><i class="fas fa-hand-holding-usd"></i></li>
                <li><a href="#">Ingresá</a><i class="fas fa-sign-in-alt"></i></li>
                <li><a href="#">Mis compras</a><i class="fas fa-shopping-basket"></i></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <main>
        <section>
            <h2 class="titulares">Basado en tu última visita</h2>
            <article class="producto">
                <img src="/images/img-cafetera-moulinex.jpg" width="100%">
                <div class="contenedor1">
                    <i class="fas fa-truck"></i>
                    <p id="precios">$6.770</p>
                    <p id="descuento">40% OFF</p>
                    <p id="descripcion">Cafetera Moulinex</p>
                </div>
            </article>
            <article class="producto">
                <img src="/images/img-macbook-pro-2019.jpg" width="100%">
                <div class="contenedor1">
                    <i class="fas fa-truck"></i>
                    <p id="precios">$230.000</p>
                    <p id="descuento">20% off</p>
                    <p id="descripcion">MacBook Pro 2019</p>
                </div>
            </article>
            <article class="producto">
                <img src="/images/img-samsung-galaxy-s10.jpg" width="100%">
                <div class="contenedor1">
                    <i class="fas fa-truck"></i>
                    <p id="precios">$70.500</p>
                    <p id="descuento">10% off</p>
                    <p id="descripcion">Samsung Galaxy S10</p>
                </div>
            </article>
            <article class="producto">
                <img src="/images/img-tv-samsung-smart.jpg" width="100%">
                <div class="contenedor1">
                    <i class="fas fa-truck"></i>
                    <p id="precios">$23.200</p>
                    <p id="descuento">5% off</p>
                    <p id="descripcion">SmartTv Samsung 43"</p>
                </div>
            </article>
        </section>
        <section>
            <h2 class="titulares">Sección de Ofertas</h2>
            <article class="producto">
                <img src="/images/img-cafetera-moulinex.jpg" width="100%">
                <div class="contenedor1">
                    <i class="fas fa-truck"></i>
                    <p id="precios">$6.770</p>
                    <p id="descuento">40% OFF</p>
                    <p id="descripcion">Cafetera Moulinex</p>
                </div>
            </article>
            <article class="producto">
                <img src="/images/img-macbook-pro-2019.jpg" width="100%">
                <div class="contenedor1">
                    <i class="fas fa-truck"></i>
                    <p id="precios">$230.000</p>
                    <p id="descuento">20% off</p>
                    <p id="descripcion">MacBook Pro 2019</p>
                </div>
            </article>
            <article class="producto">
                <img src="/images/img-samsung-galaxy-s10.jpg" width="100%">
                <div class="contenedor1">
                    <i class="fas fa-truck"></i>
                    <p id="precios">$70.500</p>
                    <p id="descuento">10% off</p>
                    <p id="descripcion">Samsung Galaxy S10</p>
                </div>
            </article>
            <article class="producto">
                <img src="/images/img-tv-samsung-smart.jpg" width="100%">
                <div class="contenedor1">
                    <i class="fas fa-truck"></i>
                    <p id="precios">$23.200</p>
                    <p id="descuento">5% off</p>
                    <p id="descripcion">SmartTv Samsung 43"</p>
                </div>
            </article>
        </section>
    </main>
    <footer>
        <section class="pie">
            <i class="fas fa-credit-card"></i>
            <h3 id="titleText">Pagá con tarjeta o en efectivo</h3>
            <p id="texto">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            <i class="fas fa-gift"></i>
            <h3 id="titleText">Envío gratis desde $ 2.500</h3>
            <p id="texto">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            <i class="fas fa-user-shield"></i>
            <h3 id="titleText">Seguridad, de principio a fin</h3>
            <p id="texto">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            <p id="texto">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    </footer>
</body>
</html>