*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    }
body{
    background-color: #EAC926;
    font-family: 'Roboto', sans-serif;
}
main{
    width: 90%;
    padding: 20px;
    background-color: #f0f0f0;
}
@media (min-width: 361px ){
    /*Tablet*/
    .producto{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .ocultar{
        display: block;
    }
    .burger-menu{
        display: none;
    } 
}
@media (min-width: 769px ){
    /*Descktop*/
    .producto{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

}
@media (max-width: 360px) {
    .ocultar{
        display: none;
    }
}
#titleText{
    color: #666;
}
#texto{
    color: #666;
    font-size: 12px;
}
.titulares{
    color: #666;
    font-size: 24px;
}
#precios{
    font-size: 18px;
}
#descuento{
    color: #39b54a;
    font-size: 16px;
}
#descripcion{
    font-size: 16px;
    color: #666;
}
.pie{
    background-color: #ffffff;
    text-align: center;
}
.fa-credit-card{
    color: #1259c3;
    font-size: 2em;
    margin-bottom: 10px;
    margin-top: 10px;
}
.fa-gift{
    color: #1259c3;
    font-size: 2em;
    margin-bottom: 10px;
}
.fa-user-shield{
    color: #1259c3;
    font-size: 2em;
    margin-bottom: 10px;
}
.fa-truck{
    color: #39b54a;
}
.producto{
    margin-bottom: 10px;
    border-top: solid 1px #ebebeb;
    border: 15px;
}

.contenedor1{
    background: #ffffff;
}
